@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #4b4376;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 12px;
}
